body {
    font: 16px/24px arial;
    background-color: honeydew;
    background-image: url(../img/bg/light-grey-terrazzo/light-grey-terrazzo.png);
}

h1 {
    font-size: 50px;
    margin: 20px;
    text-align: center;
    text-shadow: -5px 5px 4px white , -7px 7px 4px gray;
}


img {
    border-radius: 50%;
    margin: 10px;
    border: 4px solid black;
}
.nKita,.nMusuh {
    position: absolute;
    display: block;
    width: 200px;
    height: 30px;
    left: 200px;
    font-size: 20px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    border-radius: 40px;
}

.nMusuh {
    background-color: white;
    box-shadow: 0px 0px 5px 3px rgba(128, 128, 128,.7);
}

.nKita {
    background-color: gray;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0,.7);
}

.areaMusuh, .areaKita {
    position: relative;
    margin: 20px auto;
    width: 600px;
    height: 250px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0,.7);
}

.areaKita {
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    background: linear-gradient(to bottom, red,tomato 100%);
}

.areaKita img {
    margin: 20px 248px;
    margin-top: 50px ;
    border: 4px solid black;
    width: 100px;
    height: 100px;
    background-color: white;
}

.areaMusuh {
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
    margin-top: 30px;
    background:linear-gradient(to bottom, gray,black 100%);
}

.areaMusuh img {
    margin: 20px 248px;
    border: 4px solid rgb(53, 51, 51);
}

.hasil {
    width: 120px;
    height: 40px;
    background: linear-gradient(to right, rgb(250, 233, 196),white 100%);
    position: absolute;
    z-index: 9999;
    right: 45%;
    top: 315px;
    border-radius: 40px;
    border: 2px solid black;
    text-align: center;
    line-height: 40px;
}

.mulai {
    width: 100px;
    height: 20px;
    background: linear-gradient(to right, rgb(250, 233, 196),white 100%);
    position: absolute;
    text-align: center;
    right: 45.5%;
    top: 600px;
    margin-top: 15px;
    border-radius: 40px;
    border: 2px solid black;
    line-height: 20px;
    font-size: 13px;
}

.mulai:hover {
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0,.6);
    cursor: pointer;
    width: 105px;
    height: 22px;
    line-height: 22px;
    font-size: 14px;
}
.nama {
    display: block;
    margin-left: 15px;
    margin-top: -7px;
    width: 110px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    color: white;
    border-radius: 8px;
    background-color: black;
    font-size: 12px;
}

.pHero {
    width: 300px;
    height: 500px;
    overflow: auto;
    float: left;
    background: linear-gradient(to bottom ,blue,lightblue 100%);
    box-sizing: border-box;
    position: absolute;
    top: 75px;
    box-shadow: 0px 0px 5px 5px rgba(95, 158, 160,.7);
    z-index: 9999;
    border-radius: 8px;
}

.pHero li {
    display: inline-block;
}

.pHero h2 {
    font-size: 24px;
    padding: 10px;
    text-align: center;
    text-shadow: -3px 3px 1px blue, -6px 6px 1px lightseagreen;
    font-weight: bold;
}

.pHero img {
    margin: 15px;
}

.pHero img:hover {
    margin-bottom: 17px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0, 0,.7);
    cursor: pointer;
}






