footer {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  overflow: hidden;
  @media (max-width: 600px) {
    flex-wrap: wrap;
    font-size: 10px;
  }
  a {
    margin-right: 15px;
    color: white;
    &:hover {
      color: white;
      text-decoration: underline;
    }
  }
}
