body {
  font-family: "Fjalla One", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

/* jaga jaga */

/* .main__image {
  //   display: flex;
  //   img {
  //     width: 40%;
  //   }
  //   @media (max-width: 1000px) {
  //     img {
  //       width: 55%;
  //     }
  //     .main__imageAtas {
  //       transform: translate(-20%, -100%) !important;
  //     }
  //     .main__imageBawah {
  //       transform: translate(5%, -55%) !important ;
  //     }
  //   }
  //   @media (max-width: 700px) {
  //     img {
  //       width: 100%;
  //     }
  //     .main__imageAtas {
  //       transform: translate(-20%, -110%) !important;
  //     }
  //     .main__imageBawah {
  //       transform: translate(20%, -30%) !important;
  //     }
  //   }
  //   .main__imageAtas {
  //     top: 0;
  //     transform: translate(-40%, -90%);
  //     z-index: 1;
  //     right: 0;
  //   }
  //   .main__imageBawah {
  //     transform: translate(0, -50%);
  //     right: 0;
  //     z-index: 1;
  //   }
  // } */