* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  margin: auto;
  width: 120px;
  height: 30px;
  position: relative;
  background-color: #f74800;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
}

span {
  position: absolute;
  background: white;
  transform: translate(-50%);
  border-radius: 50%;
  pointer-events: none;
  animation: rippleEffect 1s;
}

@keyframes rippleEffect {
  0% {
    width: 0;
    height: 0;
    opacity: 0.5;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}
