.price {
  margin-top: -150px;
  z-index: 0;
  background: #ff630b;
  height: 150vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  @media (max-width: 768px) {
    height: 330vh;
  }

  h2 {
    margin-top: 200px;
    text-transform: uppercase;
    color: white;
    font-family: "rubik", sans-serif;
    font-weight: bold;
  }
  .price__choose {
    font-size: 16px;
    color: white;
    font-family: "rubik", sans-serif;
  }
  .satu {
    margin-right: -25px;
    @media (max-width: 768px) {
      margin-right: 0;
    }
  }
  .tiga {
    margin-left: -25px;
    @media (max-width: 768px) {
      margin-left: 0;
    }
  }
  .price__card {
    display: flex;
    border-radius: 10px;
    justify-content: center;
    background: #f3f0f0;
    flex-direction: column;
    padding: 10px 10px;
    height: 500px;
    box-shadow: 0px 30px 20px -20px rgba(0, 0, 0, 0.274);
    box-sizing: border-box;
    transition: all 0.3s ease;
    width: 100%;
    @media (max-width: 768px) {
      margin-bottom: 15px;
    }
    &:hover {
      background: white;
      transform: scale(1.04);
      z-index: 1;
      position: relative;
      cursor: pointer;
      box-shadow: 0px 70px 20px -40px rgba(0, 0, 0, 0.281);
    }
    img {
      max-width: 100%;
      object-fit: contain;
      @media (max-width: 990px) {
        max-width: 70%;
        object-fit: contain;
        align-self: center;
      }
    }
    .price__cardTitle {
      text-transform: uppercase;
      font-size: 22px;
      letter-spacing: 6px;
      text-align: center;
      @media (max-width: 990px) {
        font-size: 18px;
      }
    }
    .price__cardPrice {
      text-align: center;
      color: #ff630b;
      font-family: "rubik", sans-serif;
      font-weight: 500;
      font-size: 18px;
      @media (max-width: 990px) {
        font-size: 16px;
      }
    }
    .price__priceDesc {
      font-size: 16px;
      color: gray;
      text-align: center;
      @media (max-width: 990px) {
        font-size: 14px;
      }
    }

    .price__button {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      align-self: center;
      background: #ff9100;
      width: 150px;
      height: 30px;
      border-radius: 30px;
      font-weight: 500;
      font-family: "montserrat",sans-serif;
      @media (max-width: 990px) {
        font-size: 12px;
      }
    }
  }
}
