
.slider h3,
.slider h5,
.clients h3{
    color: black;
    text-shadow: 1px 1px 1px rgba(128, 128, 128,0.5);
}

.parallax-container {
    height: 20%;
}

.parallax img {
    filter: grayscale(1) !important;
    opacity: 0.6 !important;
}

.clients img {
    max-width: 200px;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.9));
}
.clients .satu img {
    max-width: 140px;
}

section {
    padding: 20px 0;
    min-height: 400px;
}

footer {
    padding: 15px 0;
}

